.aboutContainerMain {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 20px auto;
  gap: 10px;
}

.aboutHeadingContainer {
  text-align: center;
}

.aboutContactHeading {
  margin: 20px 0;
}

.aboutContactMeContainer {
  text-align: center;
  margin: auto;
  width: 40%;
  margin-top: 20px;
}

.iconContainer {
  display: inline;
  margin: 20px;
}

.contactMeIcons {
  width: 150px;
}

@media (max-width: 1000px) {
  .contactMeIcons {
    width: 100px;
  }
}
