.blogPostContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  width: 50%;
}

.blogPostSignInContinueContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-wrap: wrap;
}

.blogPostSignInContinue {
  text-decoration: underline;
}

.blogPostContentContainer {
  width: 70%;
}
.blogPostContent {
  width: 100%;
}

@media (max-width: 500px) {
  .blogPostContainer {
    width: 80%;
    margin-top: 10%;
  }
}
