.blogPageContainerMain {
  padding: 1rem;
  border: 1px solid #fff;
  width: 50%;
  margin: 20px auto;
  border-radius: 10px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.blogPageHeading {
  text-decoration: underline;
}

.blogPageItemContainer {
  margin-top: 30px;
}

.blogPageMapContainer {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin-top: 15px;
}

.blogPageMapUserNameContainer {
  width: 100%;
}

.blogPageMapUserName {
  font-weight: 200;
  font-size: 1rem;
  float: right;
}

.blogPageMapSpan {
  position: absolute;
  top: -15px;
  left: 20px;
  width: 4%;
}

.blogPageMapUserImageUrl {
  width: 100%;
  border-radius: 50%;
}

.blogPageItemHeading {
  font-size: 1.4rem;
  font-weight: 400;
}

.blogPageItemContent {
  margin-top: 2px;
  font-size: 1.1rem;
}

@media (max-width: 1000px) {
  .blogPageContainerMain {
    width: 90%;
  }
  .blogPageMapSpan {
    width: 3%;
  }
}

@media (max-width: 760px) {
  .blogPageMapSpan {
    width: 4%;
  }
}

@media (max-width: 650px) {
  .blogPageMapSpan {
    width: 5%;
  }
}

@media (max-width: 500px) {
  .blogPageMapSpan {
    width: 7%;
  }
}

@media (max-width: 375px) {
  .blogPageMapSpan {
    width: 9%;
  }
}
