.createContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.createHeadingMainContainer {
  margin-top: 10px;
}

.createHeadingMain {
  text-decoration: underline;
}

.createBlogForm {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 30px;
  /* border: 1px solid #fff; */
  width: 40%;
}

.createBlogFromItems {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.createFormItemSpan {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 200;
}

.createFormItemInput {
  padding: 5px;
  font-size: 1.4rem;
  border: 1px solid #747474;
  outline: none;
  border-radius: 10px;
}

.createBlogFormSubmitButton {
  width: 30%;
  padding: 5px;
  border-radius: 30px;
  font-size: 1.1rem;
  background: #3b3b3b;
  border: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .createBlogForm {
    width: 60%;
  }
}

@media (max-width: 815px) {
  .createBlogForm {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .createBlogForm {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .createBlogForm {
    width: 90%;
  }

  .createBlogFormSubmitButton {
    width: 40%;
  }
}

@media (max-width: 415px) {
  .createBlogFormSubmitButton {
    width: 50%;
  }
  .createHeadingMain {
    font-size: 1.7rem;
  }
}
